<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njty.tydp.mapper.TestMapper">

    <select id="findTestInfo"  resultType="Map">
        SELECT *
        FROM tab_users
    </select>

    <insert id="add">

        insert INTO  tab_users(loginName) values(#{loginName})
    </insert>


    <update id="modify">
      UPDATE  tab_users
      SET
      loginName = #{loginName}
      WHERE  id = #{id}
    </update>


    <delete id="delete">
        DELETE FROM tab_users
        WHERE id = #{id}
    </delete>

    <select id="findOne" parameterType="Map" resultType="Map">
        SELECT * FROM tab_users
        WHERE id = #{id}
        LIMIT 1
    </select>


    <select id="findListCnt" parameterType="Map" resultType="java.lang.Integer">
        SELECT count(1) AS  cnt FROM tab_users
    </select>

    <select id="findList" parameterType="Map" resultType="Map">
        SELECT *  FROM tab_users
        LIMIT ${startNum}, ${pageSize}
    </select>

</mapper>